:root {
  --softmangenta: rgb(232, 114, 236);
  --darkmagenta: rgb(164, 79, 167);
  --saturateddarkblue: rgb(102, 55, 207);
  --darkborderviolet: rgb(51, 11, 114);
  --Cyan: hsl(179, 62%, 43%);
  --darkgreytext: rgb(0, 46, 51);
  --DarkCyan: hsl(179, 62%, 64%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  display: grid;
  grid-auto-rows: auto;
  justify-items: center;
  background: linear-gradient(
    to bottom,
    var(--softmangenta),
    var(--saturateddarkblue)
  );
  color: var(--darkgreytext);
}
.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--darkmagenta);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  color: white;
  justify-self: center;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}
.wrapper {
  width: 90%;
  background-color: var(--Cyan);
  display: grid;
  grid-auto-rows: auto;
  max-width: 600px;
  margin-top: 100px;
  border-radius: 20px;
}
.box {
  border: 2px solid maroon;
  border-radius: 18px;
}
.intro {
  min-height: 100vh;
}
.header {
  text-align: center;
  background-color: var(--DarkCyan);
  padding: 10vh 0.5rem;
  font-size: 2rem;
  color: var(--darkgreytext);
}
.info {
  margin-top: 25px;
  margin-bottom: 60px;
  background-color: var(--DarkCyan);
  padding: 1.2rem 0.4rem;
}
.info p {
  font-size: 1.2rem;
  padding: 0.3rem 0.1rem;
}
.proyect {
  background-color: wheat;
  margin: 2rem 0.5rem;
}
.proyect-screenshot {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.proyect-header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  width: 100%;
}
 .btn-link {
  height: 100%;
  width: 4rem;
  margin-right: 7px;
  background-color: yellowgreen;
  border-radius: 30%;
} 
.btn-wrap {
  display: grid;
  justify-items: right;
}

#footer {
  background-color: var(--darkborderviolet);
  bottom: 0;
  width: 100%;
  color: white;
}
#footer h3{
  padding-left: 1rem;
}
.fas, .fab{
  margin-right: 2px;
  align-self: center;
}
.contact{
  justify-self: end;
  display: flex;
  padding-left: 1rem;
}
h4 {
  color: white;
}
p {
  margin-left: 9px;
  margin-top: 5px;
}
.proyect-def{
  margin-left: 2rem;
}

@media screen and (min-width: 1000px) {
  #footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  }
  .nav-link {
    font-size: 2rem;
  }
  .header {
    font-size: 2.6rem;
  }
  .wrapper {max-width: 850px;}
  p 
  {
    font-size: 1.3rem;
    margin-left: 15px;
  }
  .info p {
    font-size: 1.9rem;
    padding: 1.2rem 1rem;
  }
  
} 
